<launch>

  <!--rosserial-->
  <node pkg="rosserial_python" type="serial_node.py" name="stm32_core" output="screen" respawn="true">
    <param name="port" value="/dev/stm32"/>
    <param name="baud" value="115200"/>
  </node>

  <!-- GNSS publisher node -->
  <node pkg="read_sensor" type="read_rtk" name="read_rtk" output="screen"/>
  
  <!-- sam IMU publisher -->
  <node pkg="read_sensor" type="read_imu" name="read_imu" output="screen"/> 

  <!-- mag publisher -->
  <node pkg="read_sensor" type="read_mag" name="read_mag" output="screen"/>

  <!-- uwb publisher -->
  <node pkg="read_sensor" type="read_uwb" name="read_uwb" output="screen"/>

  <!--inital-->
  <node pkg="snow_rtk" type="initialization_snow" name="initialization_snow" output="screen"/>

  <!--location-->
  <node pkg="snow_rtk" type="location_snow" name="location_snow" output="screen"/>

  <!-- slam-->
  <node pkg="snow_rtk" type="slam_snow" name="slam_snow" output="screen" >
  </node>

  <!--motion_control-->
  <node pkg="snow_rtk" type="motion_snow" name="motion_snow" output="screen" >
  </node>

</launch>