<launch>

  <!--rosserial-->
  <node pkg="rosserial_python" type="serial_node.py" name="stm32_core" output="screen" respawn="true">
    <param name="port" value="/dev/stm32"/>
    <param name="baud" value="115200"/>
  </node>

  <!--uwbReader-->
  <node pkg="uwb_zigzag" type="uwb_usb_reader" name="uwb_usb_reader" output="screen"/>

  <!--imuReader-->
  <node pkg="read_sensor" type="read_imu" name="read_imu" output="screen"/> 

  <!--magReader-->
  <node pkg="read_sensor" type="read_mag" name="read_mag" output="screen"/> 

  <!--uwbReader-->
  <node pkg="uwb_zigzag" type="all_sensors_printf" name="all_sensors_printf" output="screen"/>  

</launch>